html {
  background-color: burlywood;
}

body {
  font-size: 40px;
}

.color-white {
  color:slategray
}

h2{
  color: bisque;
  font-size: 70px;
}

p.color-black {
  color: darkgray;
}

h1 {
  text-shadow: 2px 2px FF0000;
}